extends ./layout.pug

block content
    .flex-row.pad-bottom
        - var n = 0
        while n++ < 23
            .combo
                .bookListing
                .bookCard
                    .info
                        h4 The Blade Itself ferwagre grdsg grdxgr grxdgrx drxgr
                        small by Joe Abercrombie
                    .action
                        p Owned by T0mC47
                        button.btn Request Trade
